### Importación de datos

In [84]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [85]:
ingreso_tienda1=sum(tienda["Precio"])
ingreso_tienda2=sum(tienda2["Precio"])
ingreso_tienda3=sum(tienda3["Precio"])
ingreso_tienda4=sum(tienda4["Precio"])

In [86]:
ingreso_total = [[sum(tienda["Precio"]) ,sum(tienda2["Precio"]), sum(tienda3["Precio"]), sum(tienda4["Precio"]) ]]
ingreso_total

[[1150880400.0, 1116343500.0, 1098019600.0, 1038375700.0]]

In [87]:
nombre_tienda = ['tienda', 'tienda2', 'tienda3','tienda4']
ingresos_totales = nombre_tienda, ingreso_total
ingresos_totales

(['tienda', 'tienda2', 'tienda3', 'tienda4'],
 [[1150880400.0, 1116343500.0, 1098019600.0, 1038375700.0]])

# 2. Ventas por categoría

In [88]:

print("\nLas categorías con más ventas en la Tienda 1 fueron:")
tn = tienda['Categoría del Producto'].value_counts().head(3)
for i, (tn, cant) in enumerate(tn.items(), 1):
    print(f"  {i}. {tn}: {cant} productos")

print("\nLas categorías con más ventas en la Tienda 2 fueron:")
tn2 = tienda2['Categoría del Producto'].value_counts().head(3)
for i, (tn, cant) in enumerate(tn2.items(), 1):
    print(f"  {i}. {tn}: {cant} productos")

print("\nLas categorías con más ventas en la Tienda 3 fueron:")
tn3 = tienda3['Categoría del Producto'].value_counts().head(3)
for i, (tn, cant) in enumerate(tn3.items(), 1):
    print(f"  {i}. {tn}: {cant} productos")

print("\nLas categorías con más ventas en la Tienda 4 fueron:")
tn4 = tienda4['Categoría del Producto'].value_counts().head(3)
for i, (tn, cant) in enumerate(tn4.items(), 1):
    print(f"  {i}. {tn}: {cant} productos")

Las categorías con más ventas en la Tienda 1 fueron:
  1. Muebles: 465 productos
  2. Electrónicos: 448 productos
  3. Juguetes: 324 productos

Las categorías con más ventas en la Tienda 2 fueron:
  1. Muebles: 442 productos
  2. Electrónicos: 422 productos
  3. Juguetes: 313 productos

Las categorías con más ventas en la Tienda 3 fueron:
  1. Muebles: 499 productos
  2. Electrónicos: 451 productos
  3. Juguetes: 315 productos

Las categorías con más ventas en la Tienda 4 fueron:
  1. Muebles: 480 productos
  2. Electrónicos: 451 productos
  3. Juguetes: 338 productos

# 3. Calificación promedio de la tienda

In [89]:
print("\nCalificación promedio de las tiendas")
print("-" * 30)

for i, df in enumerate([tienda, tienda2, tienda3, tienda4], 1):
    rating_promedio = df['Calificación'].mean()
    print(f" Tienda {i}: {rating_promedio:.2f}/5 puntos")

Calificación promedio de las tiendas
------------------------------
 Tienda 1: 3.98/5 puntos
 Tienda 2: 4.04/5 puntos
 Tienda 3: 4.05/5 puntos
 Tienda 4: 4.00/5 puntos

# 4. Productos más y menos vendidos

In [90]:
pv = tienda['Producto'].value_counts(), tienda2['Producto'].value_counts(), tienda3['Producto'].value_counts(), tienda4['Producto'].value_counts()

nombres_tiendas = ["tienda", "tienda2", "tienda3", "tienda4"]

for i, conteo in enumerate(pv):
    nombre = nombres_tiendas[i]


    print(f" \\\Análisis de Ventas de la {nombre} //")


    print("\nTop 3 Productos Más Vendidos:")
    print(conteo.head(3))

    print("\nTop 3 Productos Menos Vendidos:")
    print(conteo.tail(3))

 \\Análisis de Ventas de la tienda //

Top 3 Productos Más Vendidos:
Producto
Microondas       60
TV LED UHD 4K    60
Armario          60
Name: count, dtype: int64

Top 3 Productos Menos Vendidos:
Producto
Olla de presión              35
Auriculares con micrófono    33
Celular ABXY                 33
Name: count, dtype: int64
 \\Análisis de Ventas de la tienda2 //

Top 3 Productos Más Vendidos:
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Name: count, dtype: int64

Top 3 Productos Menos Vendidos:
Producto
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64
 \\Análisis de Ventas de la tienda3 //

Top 3 Productos Más Vendidos:
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Name: count, dtype: int64

Top 3 Productos Menos Vendidos:
Producto
Mochila                    36
Microondas                 36
Bloques de construcción    35
Name: count, dtype: int64
 \\Análisis de Ventas de la tienda4 //

Top 3 Productos Más Vendidos:
Producto
Cama box                   62
Cubertería                 59
Dashboards con Power BI    56
Name: count, dtype: int64

Top 3 Productos Menos Vendidos:
Producto
Guitarra acústica     37
Armario               34
Guitarra eléctrica    33
Name: count, dtype: int64

<>:9: SyntaxWarning: invalid escape sequence '\A'
<>:9: SyntaxWarning: invalid escape sequence '\A'
/tmp/ipython-input-127065845.py:9: SyntaxWarning: invalid escape sequence '\A'
  print(f" \\\Análisis de Ventas de la {nombre} //")

# 5. Envío promedio por tienda

In [91]:
costo_envio_promedio_tienda = tienda['Costo de envío'].mean()

print(f"El costo promedio de envío en tienda es: ${costo_envio_promedio_tienda:,.0f}")

costo_envio_promedio_tienda2 = tienda2['Costo de envío'].mean()

print(f"El costo promedio de envío en tienda 2 es: ${costo_envio_promedio_tienda2:,.0f}")

costo_envio_promedio_tienda3 = tienda3['Costo de envío'].mean()

print(f"El costo promedio de envío en tienda 3 es: ${costo_envio_promedio_tienda3:,.0f}")

costo_envio_promedio_tienda4 = tienda4['Costo de envío'].mean()

print(f"El costo promedio de envío en tienda 4 es: ${costo_envio_promedio_tienda4:,.0f}")

El costo promedio de envío en tienda es: $26,019
El costo promedio de envío en tienda 2 es: $25,216
El costo promedio de envío en tienda 3 es: $24,806
El costo promedio de envío en tienda 4 es: $23,459